<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (ngSubmit)="login()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your username (must be an email)</mat-label>
      <input
        matInput
        type="email"
        placeholder="email"
        formControlName="email"
        [(ngModel)]="email"
      />
      <mat-error *ngIf="form['email']?.errors?.['required']"
        >Please enter valid email.</mat-error
      >
      <mat-error *ngIf="form['email']?.errors?.['minlength']"
        >Mininal length is 4.</mat-error
      >
      <mat-error *ngIf="form['email']?.errors?.['email']"
        >Enter an email.</mat-error
      ><mat-error *ngIf="form['email']?.errors?.['pattern']"
        >Not the right username.</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="password"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form['password2']?.errors?.['required']"
        >Please enter a password.</mat-error
      >
      <mat-error *ngIf="form['password2']?.errors?.['pattern']"
        >Not the right password.</mat-error
      >
      <mat-error *ngIf="form['password2']?.errors?.['pattern']"
        >Not the right password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
